<ul class="list-group">
<% comments.each do |comment| %>
  <% if comment.id.present? %>
  <li class="list-group-item d-flex justify-content-between align-items-center">
  <%= comment.content %>
    <span class="badge badge-primary badge-pill"><%= link_to edit_blog_comment_path(blog, comment), remote: true, title: "Editer" do %>
      <i class="bi bi-pencil" style="color: green;"></i>
      <% end %> <%= link_to blog_comment_path(comment.blog_id, comment.id), method: :delete, remote: true, data: {confirm: "Are you sure ?"} do %>
        <i class="bi bi-trash" style="color: red;"></i>
        <% end %></span>
  </li>
   <% end %>
  <% end %>
</ul>
