// Place all the styles related to the blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.ml{
    margin-left:700px;
    border:1px solid black;
    border-radius:5px;
}
.user{
    width: 35%;
    margin: auto;
    background-color: white;
    padding: auto;
}
.usercont{
    width: 80%;
    margin: auto;

}
ul {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  ul li {
    list-style: none;
  }
  ul li a {
    text-align: center;
    font-size: 25px;
    margin: 0 10px;
    display: block;
    position: relative;
    overflow: hidden;
    z-index: 1;
  }

  ul li a:before {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    transition: .5s;

  }
  .container{
      background-color: white;
  }
  .content{
      width: 50%;
      margin: auto;
  }
  .list{
      width: 20%;
      margin: auto;
  }
